@import url("./bootstrap.min.css");

body {
    background-color: transparent;
}

html {
    height: 100%;
    background-image: linear-gradient(#7ebee9, #c8d0d6);
}

.app {
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.hello {
    color: #5b5964;
}

.toolbar {
    background-color: #FFFFFF;
    text-align: left;
    padding: 8px 8px 8px 8px;
    border-bottom: 1px solid #CCCCCC;
}

.toolbar p {
    margin-bottom: 0px;
}