html {
    margin: 0 auto;
    height: 100%;
    background-image: linear-gradient(#7ebee9, #c8d0d6);
}

.app {
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.hello {
    color: #5447a0;
}